* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    background: #282828;
}

.header__nav {
    padding: 6px 0;
}
.header__nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .header__nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
    
   
}
.header__nav-link,
.footer__box-link  {
    font-family: "MB";
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    color: #fff;
}

.header__nav-icons {
    display: flex;
    gap: 25px;
  
    
}
.header__content {
    background: url(../images/main_img_1.jpg) no-repeat center /cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
}
.header__content-title {
    font-family: "PR";
    font-weight: 400;
    font-size: 100px;
    line-height: 75%;
    color: #fff;
}
.header__content-link {
    width: 663px;
    height: 163px;
    font-family: "MM";
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #171718;
    padding-right: 11px;
    
}

.header__content-space {
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background: #fff;
    padding: 13px 12px;
}

.section__box-first {
    padding-top: 30px;
    padding-bottom: 50px;
    background: #151515;
    
}
 
.main__box-first {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
   
}
.main__box-right {
    max-width: 552px;
    width: 100%;
}
.main__box-left {
    max-width: 457px;
    width: 100%;
}



.main__box-textfirst {
    padding-top: 130px;
    padding-bottom: 150px;
    font-family: "MM";
    font-weight: 500;
    font-size: 22px;
    color: #fff;
}

.section__box-second {
    background: #151515; 
}

.main__box-second {
    display: flex;
    justify-content: space-between;
    gap: 87px;
}

.main__box-textsecond {
    padding-top: 201px;
    padding-bottom: 200px;
    font-family: "MM";
    font-weight: 500;
    font-size: 22px;
    color: #fff;
}

.section__box-third {
    padding-top: 50px;
    padding-bottom: 79px;
    background: #151515;
}
.main__box-third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
    
}

.main__box-textthird {
    font-family: "MB";
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    color: #fff;
}

.main__box-textthird1 {
    font-family: "MB";
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main__box-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
   
    
    
}
.main__box-middle::before {
    content: "";
    display: block;
    width: 61px;
    height: 1px;
    background: #c4c4c4;
}

.main__box-middle::after {
    content: "";
    
    width: 61px;
    height: 1px;
    background: #c4c4c4;   
}

.section__box-fourth {
    padding-bottom: 55px;
    background: #151515;
}

.main__box-fourth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.main__box-list {
    border-radius: 6px;
    max-width: 255px;
    width: 100%;
    height: 312px;
    background: #fff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main__box-titlefourth {
    font-family: "MB";
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

.main__box-img {
    padding: 10px 0;
}

.main__box-textfourth {
    font-family: "MR";
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    padding-bottom: 20px;
}

.main__box-btn {
    width: 161px;
    height: 34px;
    background: #151515;
    border: none;
    font-family: "MB";
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.footer {
    box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.25);
    background: #282828;
}

.footer__box {
    height: 215px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer__box-list {
    display: flex;
    gap: 30px;
}

.footer__main-icons {
   display: flex;
   gap: 30px;
}

.main__box-pictire {
  width: 100%;
}


@media (max-width: 1140px) {
    .header__nav-box {
      padding: 0 30px;
    }

    .container{
        padding: 0 30px;
    }

    .footer__box {
        padding: 10px 40px;
    }
}


@media (max-width: 950px) {
    .main__box-first {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .main__box-textfirst {
        padding: 80px 0 100px 0;
        text-align: center;
    }
    .main__box-second{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .main__box-third {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    .main__box-textsecond {
        padding: 30px 0 30px 0;
        text-align: center;
    }
    .main__box-middle::after,
    .main__box-middle::before {
        content: none;
    }
    .main__box-textthird,
    .main__box-textthird1 {
        text-align: center;
    }
    .main__box-btn {
      width: 155px;
    }
    .footer__box {
        height: 150px;
       
    }
}

@media (max-width: 790px) {
.main__box-textfirst {
padding-top: 10px;
    }
.main__box-fourth {
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
 }
}

@media (max-width: 650px) {
    .header__nav-box {
       flex-direction: column;
        gap: 15px;
        padding-top: 15px;
    }
    .header__content {
        height: 500px;
    }
    .header__content-title {
        font-size: 80px;
    }
    .footer__box {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
}

@media (max-width: 450px) {
    .header__content-title {
        font-size: 60px;
    }
    .header__content {
        height: 350px;
    }
    .footer__box {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        height: 215px;
    }
}

@media (max-width: 360px) {
    
    .header__nav-list {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.header__content-title{
    font-size: 40px;
}
.header__content-space {
    height: 40px;
}
.header__content-link {
    font-size: 20px;
}
.header__content {
    height: 220px;
}

}






